<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="float-left"><h2>User List</h2></div>
    <div class="float-right"><button class="btn btn-primary" (click)="addUser()">Add User</button></div>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>User Name</th>
          <th>Email</th>
          <th>PhoneNumber</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.userName}}</td>
          <td>{{user.emailId}}</td>
          <td>{{user.phoneNumber}}</td>
          <td><button (click)="deleteUser(user.id)" class="btn btn-danger">Delete</button>
              <button (click)="updateUser(user.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
              <button (click)="userDetails(userDetailsModal, user)" class="btn btn-primary" style="margin-left: 10px">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #userDetailsModal let-modal>
  <div class="modal-header">
   <h5 class="modal-title" id="editProfileLabel">User Details</h5>
   <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
   </button>
  </div>
  
  <div class="modal-body">
    <div class="form-group row">
     <label class="col-sm-4 col-form-label"><strong>ID:</strong></label>
     <div class="col-sm-8">{{selectedUser.id}}</div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label"><strong>UserName:</strong></label>
      <div class="col-sm-8">{{selectedUser.userName}}</div>
     </div>
     <div class="form-group row">
      <label class="col-sm-4 col-form-label"><strong>Email:</strong></label>
      <div class="col-sm-8">{{selectedUser.emailId}}</div>
     </div>
     <div class="form-group row">
      <label class="col-sm-4 col-form-label"><strong>PhoneNumber:</strong></label>
      <div class="col-sm-8">{{selectedUser.phoneNumber}}</div>
     </div>
  </div>
 </ng-template>

<!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">User Details</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->